html{

    margin: 1rem;
    font-family: "Arial", sans-serif;
    font-size: 1.1rem;
    background-color: darkred;
}

body{
    margin: 1rem;
    line-height: 3em;
}

h2{
    text-align: center;
    color: darkred;
}

h6{
    text-decoration: underline;
}


img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 45%;
    height: auto;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    max-width: 300%;


    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
img:hover{
    width: 50%;
    transform: inherit;
}




header, article{

    min-width: 20%;
    border-radius: 3rem;
    text-indent: 30px;
    line-height: 200%;
    background-color: blanchedalmond;
    padding: 3rem;
    border-left-style: double;
    border-right-style: double;
    border-top-style: double;
    border-bottom-style: double;
    border-width: 5px;
    border-color: darkred;
    outline-offset: 20em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

aside{
    height: 30rem;
    line-height: 250%;
    background-color: lightcoral;
    padding: 1vw;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 3rem;
    outline-offset: 20px;
    border-left-style: double;
    border-right-style: double;
    border-top-style: double;
    border-bottom-style: double;
    border-width: 5px;
    border-color: darkred;
}



footer{
    text-align: center;
}

@media (min-width: 600px) and (max-resolution: 1.8dppx) {

    body{

        min-width: 35rem;
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;

        display: grid;



        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr auto;

        display: -ms-grid;
        -ms-grid-columns: 1fr auto;
        -ms-grid-rows: 1fr auto;
    }

    body > header{

        grid-column-start: 1;
        grid-row-start: 1;

        -ms-grid-column: 1;
        -ms-grid-row: 1;

        grid-column-end: 4;
        -ms-grid-column-span: 3;
    }

    body > main {
        grid-column-start: 1;
        grid-row-start: 2;

    }

    body > aside{
        height: 30rem;
        width: 10rem;

        grid-column-start: 2;
        grid-row-start: 2;

        -ms-grid-column: 2;
        -ms-grid-row: 2;
    }

    body > footer{
        width: 50em;

        grid-column-start: 1;
        grid-row-start: 3;

        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }

}

@media not all and (min-width: 600px) and (max-resolution: 1.8dppx){

    body{
        width: 100%;
        display: flex;
        flex-direction: column;
        min-width: 16rem;
        margin: auto;
    }

    body > footer{
        order: 1;
    }

}

