html{
    margin: 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    background-color: darkred;
}


h2{
    text-align: center;
    font-family: "DejaVu Sans Condensed";
}


img{
    width: 80%;
    height: auto;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    max-width: 300%;


    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
img:hover{
    width: 85%;
    transform: inherit;
}




header, article{
    min-width: 30%;
    min-height: 20%;
    text-indent: 30px;
    line-height: 200%;
    background-color: blanchedalmond;
    padding-top: 2vw;
    padding-left: 3vw;
    padding-right: 4vw;
    padding-bottom: 1vw;
    border-left-style: double;
    border-right-style: double;
    border-top-style: double;
    border-bottom-style: double;
    border-width: 5px;
    border-color: darkred;
    border-radius: 2rem;
    outline-offset: 20em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

aside{
    min-width: 30%;
    /*height: 20rem;*/
    width: 80%;
    height: auto;
    line-height: 250%;
    background-color: lightcoral;
    padding: 1vw;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 3rem;
    outline-offset: 20px;
    font-family: sans-serif;
    border-left-style: double;
    border-right-style: double;
    border-top-style: double;
    border-bottom-style: double;
    border-width: 5px;
    border-color: darkred;
}




img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}



footer{
    text-align: center;
}

@media only screen and (min-width: 600px) {

    body {

        min-width: 35rem;
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;

        display: grid;

        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

        display: -ms-grid;
        -ms-grid-columns: auto auto;
        -ms-grid-rows: auto auto;
    }

    body > header{

        grid-column-start: 1;
        grid-row-start: 1;

        -ms-grid-column: 1;
        -ms-grid-row: 1;

        grid-column-end: 4;
        -ms-grid-column-span: 2;
    }

    body > main{
        grid-column-start: 1;
        grid-row-start: 2;

    }

    body > footer{
        width: 50em;

        grid-column-start: 1;
        grid-row-start: 3;

        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }

    body > div{
        width: 30em;

        grid-column-start: 2;
        grid-row-start: 2;
        -ms-grid-column: 2;
        -ms-grid-row: 2;


    }
}

@media only screen and (max-width: 599px){

    body{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    body > footer{
        order: 1;
    }

}

