html{
    font-family: "Times New Roman", serif;
    font-size: 16pt;
    animation: none;
    background-color: #fff;
}
body{
    margin: 0;
    background-color: #fff;
}

img{
    animation: none;
    display: none;
    width: 10%;
    height: auto;
    max-width: 50%;
    page-break-inside:avoid;
}
body > header > h1{
    font-size: 3rem;
    text-align: center;
    animation: none;
}


nav{
    display: none;
}

form{
    display: none;
}







