label{
    vertical-align: top;
    display: inline-block;
    max-width: 70rem;
    min-width: 5em;
}


textarea {
    resize: none;
}


input{
    display: inline-block;
    resize: horizontal;
    width: 17em;
}




input:invalid, textarea:invalid{
    border-color: red;
}

:out-of-range{
    color: darkred;
}

input:valid{
    color: darkgreen;
}


